In [56]:
plot1 = [5,3]
plot2 = [data1.Pos_Sentiment, data1.Neg_Sentiment]
#plot2 = [7,8]

In [62]:
from math import sqrt
euclidean_distance = sqrt((plot1[0] - plot2[0])**2 + (plot1[1] - plot2[1])**2)
print(euclidean_distance)

TypeError: cannot convert the series to <class 'float'>

In [72]:
import pandas as pd
data1 = pd.read_csv("./satire-dataset.csv")

print(data1.columns.values)

['Pos_Sentiment' 'Neg_Sentiment' 'Polarity' 'Type']

In [133]:
L1 = [8,3]
L2 = [data1.Pos_Sentiment, data1.Neg_Sentiment]

In [137]:
df = pd.DataFrame(data1)

In [138]:
df['distance'] = np.linalg.norm(df[['Pos_Sentiment', 'Neg_Sentiment']].sub(np.array(L1)), axis=1)

In [139]:
df

      Pos_Sentiment  Neg_Sentiment  Polarity    Type   distance
0                17              5        12    TRUE   9.219544
1                 1              3        -2    TRUE   7.000000
2                 6              0         6    TRUE   3.605551
3                 5              1         4    TRUE   3.605551
4                 2             10        -8    TRUE   9.219544
5                 0              0         0    TRUE   8.544004
6                 0              4        -4    TRUE   8.062258
7                 2              1         1    TRUE   6.324555
8                15             20        -5    TRUE  18.384776
9                 3              2         1    TRUE   5.099020
10               25              9        16    TRUE  18.027756
11                3              5        -2    TRUE   5.385165
12                0              0         0    TRUE   8.544004
13                4              6        -2    TRUE   5.000000
14                5             11        -6    TRUE   8.544004
15                5              4         1    TRUE   3.162278
16                8              0         8    TRUE   3.000000
17                3             10        -7    TRUE   8.602325
18                9             19       -10    TRUE  16.031220
19                2              6        -4    TRUE   6.708204
20                6              1         5  satire   2.828427
21                2              4        -2    TRUE   6.082763
22                0              0         0    TRUE   8.544004
23                2              4        -2    TRUE   6.082763
24                5              2         3    TRUE   3.162278
25                0              0         0    TRUE   8.544004
26                8              8         0    TRUE   5.000000
27                4              2         2    TRUE   4.123106
28                9              1         8    TRUE   2.236068
29                2              0         2    TRUE   6.708204
...             ...            ...       ...     ...        ...
4203              7              4         3    TRUE   1.414214
4204              2              0         2    TRUE   6.708204
4205              0              6        -6    TRUE   8.544004
4206              7              6         1    TRUE   3.162278
4207              0              0         0    TRUE   8.544004
4208              2              0         2    TRUE   6.708204
4209              4              8        -4    TRUE   6.403124
4210             12             31       -19    TRUE  28.284271
4211              3             11        -8    TRUE   9.433981
4212              4              7        -3    TRUE   5.656854
4213              0              2        -2    TRUE   8.062258
4214              1             11       -10    TRUE  10.630146
4215              2              0         2    TRUE   6.708204
4216              1              0         1    TRUE   7.615773
4217              8              6         2  satire   3.000000
4218              2              0         2    TRUE   6.708204
4219              5              0         5    TRUE   4.242641
4220              7              2         5    TRUE   1.414214
4221              3              2         1    TRUE   5.099020
4222              1              7        -6    TRUE   8.062258
4223              7              8        -1    TRUE   5.099020
4224              5             16       -11    TRUE  13.341664
4225              9             13        -4    TRUE  10.049876
4226              1              0         1    TRUE   7.615773
4227             15             16        -1    TRUE  14.764823
4228              0              0         0    TRUE   8.544004
4229              5             13        -8    TRUE  10.440307
4230              0              0         0    TRUE   8.544004
4231             20             19         1    TRUE  20.000000
4232              2              9        -7    TRUE   8.485281

[4233 rows x 5 columns]

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import sklearn
import math
data1 = pd.read_csv("./satire-dataset.csv")

In [5]:
print(data1.columns.values)

['Pos_Sentiment' 'Neg_Sentiment' 'Polarity' 'Type']

In [6]:
data1.shape

(4233, 4)

In [7]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4233 entries, 0 to 4232
Data columns (total 4 columns):
Pos_Sentiment    4233 non-null int64
Neg_Sentiment    4233 non-null int64
Polarity         4233 non-null int64
Type             4233 non-null object
dtypes: int64(3), object(1)
memory usage: 132.4+ KB

In [8]:
data1.head()

   Pos_Sentiment  Neg_Sentiment  Polarity  Type
0             17              5        12  TRUE
1              1              3        -2  TRUE
2              6              0         6  TRUE
3              5              1         4  TRUE
4              2             10        -8  TRUE

In [13]:
L1 = [8,3]
L2 = [data1.Pos_Sentiment, data1.Neg_Sentiment]

In [14]:
df = pd.DataFrame(data1)

In [15]:
df['distance'] = np.linalg.norm(df[['Pos_Sentiment', 'Neg_Sentiment']].sub(np.array(L1)), axis=1)

In [16]:
df.sort_values(by=['distance'])

      Pos_Sentiment  Neg_Sentiment  Polarity    Type   distance
3257              8              3         5    TRUE   0.000000
4112              8              3         5    TRUE   0.000000
3534              8              3         5  satire   0.000000
963               8              3         5    TRUE   0.000000
3576              8              3         5    TRUE   0.000000
2024              8              3         5    TRUE   0.000000
3760              8              3         5    TRUE   0.000000
3255              8              3         5    TRUE   0.000000
3254              8              3         5    TRUE   0.000000
4161              8              3         5    TRUE   0.000000
1033              8              3         5    TRUE   0.000000
4194              8              3         5    TRUE   0.000000
2289              8              3         5    TRUE   0.000000
1665              8              3         5    TRUE   0.000000
2733              7              3         4    TRUE   1.000000
4134              7              3         4    TRUE   1.000000
2786              7              3         4    TRUE   1.000000
1075              8              4         4    TRUE   1.000000
1776              9              3         6    TRUE   1.000000
3407              8              4         4    TRUE   1.000000
3679              7              3         4    TRUE   1.000000
1241              8              4         4    TRUE   1.000000
2702              8              4         4    TRUE   1.000000
2710              7              3         4    TRUE   1.000000
164               9              3         6  satire   1.000000
1229              7              3         4  satire   1.000000
3438              9              3         6    TRUE   1.000000
1689              9              3         6    TRUE   1.000000
1704              7              3         4    TRUE   1.000000
2955              8              2         6    TRUE   1.000000
...             ...            ...       ...     ...        ...
2686             11             38       -27    TRUE  35.128336
873              27             33        -6  satire  35.510562
3847             16             38       -22    TRUE  35.902646
3724             12             39       -27    TRUE  36.221541
2664              6             40       -34    TRUE  37.054015
2519             11             40       -29  satire  37.121422
883               4             40       -36    TRUE  37.215588
1626             29             34        -5  satire  37.443290
3764             38             26        12    TRUE  37.802116
1105             21             39       -18  satire  38.275318
3096             19             40       -21    TRUE  38.600518
1686             43             21        22    TRUE  39.357337
3022             35             32         3  satire  39.623226
1493             48              5        43    TRUE  40.049969
418              10             43       -33    TRUE  40.049969
753              34             34         0    TRUE  40.459857
77               22             41       -19    TRUE  40.496913
2792             16             43       -27    TRUE  40.792156
1461             29             39       -10    TRUE  41.677332
910              16             45       -29    TRUE  42.755117
1681             51              4        47    TRUE  43.011626
767              45             26        19    TRUE  43.566042
2764             38             35         3    TRUE  43.863424
4103             31             41       -10    TRUE  44.418465
3037             36             38        -2    TRUE  44.821870
4120              2             48       -46    TRUE  45.398238
1900             33             41        -8  satire  45.486262
743              35             40        -5    TRUE  45.803930
2614             18             48       -30    TRUE  46.097722
2303             35             63       -28  satire  65.795137

[4233 rows x 5 columns]